# VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
# VITE_APPWRITE_PROJECT_ID="your-project-id"
# VITE_APPWRITE_DATABASE_ID="your-database-id"
# VITE_APPWRITE_COLLECTION_ID="profile-collection-id"
# VITE_APPWRITE_BUCKET_ID="your-bucket-id"
# VITE_APPWRITE_RESOURCES_COLLECTION_ID="resources-collection-id"
# VITE_APPWRITE_SUMMARY_FUNCTION_ID="6a5c557e001ae27d966c"
# VITE_APPWRITE_ANALYTICS_COLLECTION_ID="analytics"
# VITE_APPWRITE_BOOKMARKS_COLLECTION_ID="bookmarks"
# VITE_APPWRITE_RATINGS_COLLECTION_ID="ratings"
